layout {

    focus-ring {
        active-color   "#e5a166"
        inactive-color "#291e14"
        urgent-color   "#c46c21"
    }

    border {
        active-color   "#e5a166"
        inactive-color "#291e14"
        urgent-color   "#c46c21"
    }


    tab-indicator {
        active-color   "#e5a166"
        inactive-color "#864813"
        urgent-color   "#c46c21"
    }

    insert-hint {
        color "#e5a16680"
    }
}

recent-windows {
    highlight {
        active-color "#e5a166"
        urgent-color "#c46c21"
    }
}
