layout {

    focus-ring {
        active-color   "#d7a275"
        inactive-color "#231e1a"
        urgent-color   "#c46c21"
    }

    border {
        active-color   "#d7a275"
        inactive-color "#231e1a"
        urgent-color   "#c46c21"
    }


    tab-indicator {
        active-color   "#d7a275"
        inactive-color "#7b491f"
        urgent-color   "#c46c21"
    }

    insert-hint {
        color "#d7a27580"
    }
}

recent-windows {
    highlight {
        active-color "#d7a275"
        urgent-color "#c46c21"
    }
}
